{% extends '::base.html.twig' %}
{% block head %}
    <meta name="description" content="{% trans %} {% endtrans %}"/>
{% endblock %}

{% block main %}
   {% for message in app.flashes('message') %}
       <div class="flash-notice">
           {{ message }}
       </div>
   {% endfor %}

   {% if error.messageKey is defined  %}
       <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
   {% endif %}

<!--REQUETE DE MOT DE PASSE -EMAIL ENVOYE A L'UTILSATEUR POUR MODIDIER EN LIGNE-->
<div id="user_resetting_mdp">
    <div class="container">
        <div class="row m-4">
            <div class="col-md-12 ">
                <hr>
                <h2 class="text-center">{{ 'Mot de passe Oublié ?' | trans }}</h2>
                <p class="lead">{% trans %} Un email vous sera envoyé pour modifier votre mot de passe.{% endtrans %}</p>
                <p class="lead small">{% trans %} Pensez à regarder dans votre dossier Spam si vous ne voyez pas arriver notre email.{% endtrans %}</p>

             {#   {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-lg btn-primary btn-block">Send request</button>
                {{ form_end(form) }}#}
                <!-- request form-->
               <form name="requestNewPassword" action="{{ path('security_homepage') }}" method="POST" class="fos_user_resetting_request" id="modal_resetting_mdp">
                    <p class="errors" style="text-align: center ; margin-bottom:1em;"></p>

                    <div class="form-group text-center">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-envelope" aria-hidden="true"></i></span>
                            <input type="text" id="requestNewPassword_email" name="requestNewPassword[email]" class="form-control"  placeholder="{{ 'Entrer votre adresse e-mail '|trans }}" required="required" autofocus="autofocus" />
                        </div>
                    </div>
                    <div class= "pb-2">
                        <input type="submit" id="requestNewPassword_create" name="requestNewPassword[create]" class="btn btn-successe btn-block" value="{{ 'M\'envoyer un nouveau mot de passe'|trans }}"  />
                    </div>

                    <input type="hidden" id="requestNewPassword__token" class="form-control" name="requestNewPassword[_token]" value="">
                </form> <!--/request form -->
            </div><!--/col-->
        </div><!--/row-->
    </div><!--/container-->
</div><!--/id

{% endblock %}

